<div class="context-menu" ...attributes>

  <button
    type="button"
    class="context-menu__toggle-button"
    title="Main Menu"
    {{on "click" this.toggleMenu}}
  >
    &#9776; {{! Chinese glyph "the trigram for heaven" (hamburger menu) }}
  </button>

  <div class="context-menu__dropdown {{if this.open 'context-menu--open'}}">
    {{yield}}
  </div>

</div>
