{{#context-menu}}
  {{main-nav showDetails=true}}
{{/context-menu}}

<div
  class="main-timer"
  {{action "resetAndPause" on="doubleClick"}}
  {{action "toggleTimer" on="click"}}
>
  {{#timer-display
      class="jumbo"
      seconds=seconds
      as |displayTime|}}
    {{displayTime}}
  {{/timer-display}}
</div>
